<div class="jumbotron">
    <h1 class='display-3'>Smile, it's time for a burger!</h1>
    <img src='/assets/img/burger.png' alt='burgerimg' width='200px'>
</div>
<div class='container'>
    <div class="row mb-2">
        <div class="col text-center">
            <h2>Add a Burger Here!</h2>
            <form class="create-form form-inline justify-content-center">
                <div class="form-group">
                    <label for="burger">Burger Name:</label>
                    <input class="mx-3" type="text" id="burger" name="name">
                </div>
                <button class="btn btn-primary" type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>
